<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form action="" [formGroup]="checkOutFormGroup" (ngSubmit)="onSubmit()">
        <!-- Customer -->
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>

          <div class="row">
            <div class="col-md-2">
              <label for="">First Name</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="firstName" type="text" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label for="">Last Name</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="lastName" type="text" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label for="">Email</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" type="text" />
              </div>
            </div>
          </div>
        </div>

        <!-- shipping address -->
        <div formGroupName="shippingAddress" class="form-area">
          <h3>Shipping Address</h3>

          <div class="row">
            <div class="col-md-2">
              <label for="">Country</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select name="" id="" formControlName="country">
                  <option value=""></option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label for="">Street</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label for="">City</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label for="">State</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select name="" id="" formControlName="state">
                  <option value=""></option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label for="">Zip Code</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text" />
              </div>
            </div>
          </div>
        </div>

        <!-- checkbox to if shipping address is same as billing address -->
        <!-- Add check box to copy shipping to billing -->
        <div class="input-space">
          <label class="au-checkbox">
            <input
              type="checkbox"
              (change)="copyShippingAddressToBillingAddress($event)"
            />
            <span class="au-checkmark"></span>Billing Address same as Shipping
            Address
          </label>
        </div>

        <!-- billing address -->
        <div formGroupName="billingAddress" class="form-area">
          <h3>Billing Address</h3>

          <div class="row">
            <div class="col-md-2">
              <label for="">Country</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select name="" id="" formControlName="country">
                  <option value=""></option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label for="">Street</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label for="">City</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label for="">State</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select name="" id="" formControlName="state">
                  <option value=""></option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label for="">Zip Code</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text" />
              </div>
            </div>
          </div>
        </div>

        <!-- credit card -->
        <div formGroupName="creditCard" class="form-area">
          <h3>Credit Card</h3>

          <div class="row">
            <div class="col-md-2">
              <label for="">Card Type</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select name="" id="" formControlName="cardType">
                  <option value="">Visa</option>
                  <option value="">MasterCard</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label for="">Name on Card</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nameOnCard" type="text" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label for="">Card Number</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cardNumber" type="text" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label for="">Security Code</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="securityCode" type="text" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label for="">Expiration Month</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select name="" id="" formControlName="expirationMonth">
                  <option value=""></option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label for="">Expiration Year</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select name="" id="" formControlName="expirationYear">
                  <option value=""></option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Order detail -->
        <div class="form-area">
          <h3>Review Orders</h3>
          <p>Total Quantity:{{ totalQuantity }}</p>
          <p>Shipping FREE!</p>
          <p>Total Price:{{ totalPrice | currency : "USD" }}</p>
        </div>

        <!-- submit btn -->
        <div class="text-center">
          <button type="submit" class="btn btn-info">Purchase</button>
        </div>
      </form>
    </div>
  </div>
</div>
